.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }

.nunito-regular {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.reddit-mono-regular {
    font-family: "Reddit Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.playfair-display-regular {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#message {
    font-family: "Reddit Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
}